# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
!default.xcworkspace
xcuserdata
*.xcuserstate
profile
*.moved-aside
DerivedData
LocalShared/
*~
*.xcarchive
*.xccheckout
*.xcscmblueprint

.DS_Store
*.swp
*~.nib
Pods/
*.ipa
*.dSYM.zip
upload_to_bugly_result.json
fastlane/report.xml
/fastlane/README.md
